<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">angular learning app</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>


<!-- declare this div as an angular application, and point it to the controller to use-->

<!-- Note the index.html document has already declared the entire body of this view page to be an angularLearningAppApp page. So I do not need to define this div as an angular app. It has been done upstream from this point. This is just done for demonstration. -->

<!-- This controller is now defined to control anything within this div -->
<div id='content' ng-app='angularLearningAppApp' ng-controller='MainCtrl'>
  Testing binding: {{awesomeThings}} are awesome things

  <br/><br/><br/>
  Input Value binding: <input type='text' ng-model='inputValue'>
  {{inputValue}}

  <br/><br/>
  Select a Person to see their favorite music genres:
  <select ng-model='selectedPerson' ng-options='obj.name for obj in people.list'></select>

  <select ng-model='selectedGenre'>
    <option ng-repeat='label in people.list[selectedPerson.id].music'>{{label}}</option>
  </select>

  <!-- Add a new person -->
  <br/>
  <input type='text' ng-model='newPerson' />
  <button ng-click='addNew()'>Add a new Person</button>

  <br/>
  <br/>
  <br/>
  <!-- Testing local storage -->
  Testing local storage (using ngStorage module: https://github.com/gsklee/ngStorage  )
   <button ng-click="$storage.x = $storage.x + 1">{{$storage.x}}</button> + <button ng-click="$storage.y = $storage.y + 1">{{$storage.y}}</button> = {{$storage.x + $storage.y}}



</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
